a {
    color: #0facf3;
}
.static {
    font-size: 16px;
    line-height: 28px;
    padding: 40px 0 30px 0;
    color: #3c4859;
}
.inner {
    padding: 0 30px;
    max-width: 1680px;
    width: 100%;
    min-width: 320px;
    position: relative;
    margin: 0 auto;
}
.static h1 {
    font-size: 42px;
    padding: 10px 0 20px 0;
    margin-bottom: 30px;
    text-align: center;
}
.static .infobox {
    padding: 15px 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #f4f7fa;
    margin-bottom: 20px;
    border-left: 6px solid #e24545;
    position: relative;
    padding-left: 60px;
}
.static .infobox h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #f34545;
}
.accountL {
    width: 49%;
    float: left;
    margin-right: 1%;
    background: #45d151 url(../img/partners-bg-1.png) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    position: relative;
}
.accountR {
    width: 49%;
    float: left;
    margin-left: 1%;
    background: #0fa0e0 url(../img/partners-bg-2.png) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    position: relative;
    margin-bottom: 30px;
}
.accountL .c, .accountR .c {
    padding: 20px 20px;
    position: relative;
}
.accountL .foo, .accountR .foo {
    background: #2f3b44;
    color: #708792;
    font-size: 14px;
    padding: 10px 20px;
}
.accountL .title, .accountR .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
}
.accountL .desc, .accountR .desc {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 18px;
    margin-bottom: 20px;
}
.accountL .buttons, .accountR .buttons {
    text-align: right;
    position: relative;
}
.btn {
    position: relative;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    min-width: 80px;
    border: 0;
    outline: 0;
    resize: none;
    box-shadow: 0 3px 8px 0 rgb(103 116 116 / 20%);
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    margin-top: -1px;
    margin-bottom: 1px;
}
.whiteGhost {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: 0 0;
    border: 1px solid #fff;
    padding: 0 30px;
    height: 42px;
    line-height: 44px;
    margin-right: 5px;
}
.white {
    font-size: 13px;
    font-weight: 700;
    color: #304550;
    text-transform: uppercase;
    background: #fff;
    padding: 0 30px;
    height: 42px;
    line-height: 44px;
}
.accountL .foo b, .accountR .foo b {
    color: #fff;
}
.accountL .field, .accountR .field {
    position: relative;
}
.inp {
    height: 46px;
    padding: 15px 20px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 100%;
    position: relative;
    font-size: 16px;
    background: #fff;
    border: 1px solid #d6dce7;
    color: #021627;
    -webkit-transition: all ease-out .1s;
    -moz-transition: all ease-out .1s;
    -ms-transition: all ease-out .1s;
    -o-transition: all ease-out .1s;
    transition: all ease-out .1s;
}
.inp:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
.accountR .field .inp {
    border: 0;
    font-size: 13px;
    font-weight: 700;
    outline: 0;
}
.accountR .field .copy {
    position: absolute;
    top: 8px;
    right: 20px;
    color: #0facf3;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}
.accountPartners {
    margin-bottom: 30px;
}
.accountTabs {
    margin: 60px auto 20px auto;
    text-align: center;
    padding-bottom: 20px;
}
.accountTabs button {
    display: inline-block;
    border: 1px dashed #dde0ea;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #3c4859;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    margin: 0 3px;
    background: #fff;
    position: relative;
    z-index: 2;
    min-width: 80px;
}
.accountTabs button.active {
    border-color: #0facf3;
}
.accountEmpty {
    text-align: center;
    padding: 50px 0;
    font-size: 14px;
    color: #8c8f9d;
}
.accountBalance {
    width: 780px;
    margin: 0 auto;
    max-width: 100%;
}
.accountBalance .row {
    font-size: 20px;
    font-weight: 700;
    background: #fafafc;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 12px 15px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    line-height: 22px;
}
.accountBalance .row .t {
    color: #769ba8;
    font-weight: 400;
    font-size: 14px;
}
.accountBalance .row .help {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -10px;
    font-size: 14px;
}
.accountApi {
    width: 780px;
    margin: 0 auto;
    max-width: 100%;
}
.accountApi h3 {
    text-align: left;
    margin-bottom: 20px;
}
.accountApi .telegramBot {
    top: -20px;
    position: relative;
    display: block;
}
.accountApi .telegramBot .desc {
    color: #9eacbd;
    line-height: 20px;
    padding: 10px 0 0 0;
}
.accountApi .lines {
    background: #fafafc;
    padding: 15px 20px 40px 20px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    margin-bottom: 20px;
}
.accountApi .line {
    display: block;
}
.accountApi .line .l {
    float: left;
    width: 160px;
}
.accountApi .line .r {
    float: left;
    font-weight: 700;
}
.accountApi .line .r a {
    font-weight: 400;
}
.accountApi .apiStatus[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.apiStatusLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 28px;
    background: #d1d1de;
    display: block;
    border-radius: 60px;
    margin-top: -30px;
    position: relative;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}
.apiStatusLabel:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 22px;
    transition: .3s;
}


@media (max-width: 340px) {
    .inner {
        padding: 0 15px;
    }
    .accountTabs button {
        padding: 8px 10px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .accountL .c, .accountR .c {
        text-align: center;
    }
    .accountL .foo, .accountR .foo {
        font-size: 13px;
    }
    .accountL .desc, .accountR .desc {
        margin: 10px 0;
        font-size: 13px;
    }
    .accountL .buttons {
        text-align: center;
    }
    .accountL .btn, .accountR .btn {
        height: 40px;
        line-height: 40px;
        margin: 5px 0;
        min-width: 140px;
    }
    .accountR .copy {
        display: none;
    }
    .accountTabs {
        width: auto;
    }
    .account-tabs button {
        padding: 8px 12px 8px 12px;
        margin: 1%;
        font-size: 13px;
        width: 47%;
        border-radius: 4px;
    }
}

@media (max-width: 740px) {
    .static .infobox {
        padding-left: 20px;
        font-size: 13px;
    }
    .static .infobox h3 {
        font-size: 16px;
    }
}

@media (max-width: 980px) {
    .accountL {
        width: 100%;
        float: none;
        margin: 0 0 20px 0;
    }
    .accountR {
        width: 100%;
        float: none;
        margin: 0;
    }
}

@media (max-width: 1024px) {
    .static {
        font-size: 14px;
        line-height: 28px;
        padding: 30px 0 20px 0;
    }
    .inner {
        padding: 0 20px;
    }
    .static h1 {
        margin-bottom: 20px;
        font-size: 22px;
    }
}

