* {
    margin: 0;
    padding: 0;
}
.footer {
    width: 100%;
    border-top: 1px solid #e8edf2;
    padding: 30px 0 0 0;
}

.inner {
    padding: 0 30px;
    max-width: 1680px;
    width: 100%;
    min-width: 320px;
    position: relative;
    margin: 0 auto;
}
.footer .row {
    float: left;
    width: 25%;
    color: #9facbd;
    font-size: 14px;
    line-height: 22px;
}
.footer .logo {
    width: 150px;
    margin-bottom: 5px;
}
.footer .copyright p {
    padding: 0 30px 20px 0;
}
.footer .title {
    color: #3c4859;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 0 10px 0;
    margin: 0;
}
.footer ul {
    margin-left: -20px;
}
.footer ul li {
    display: block;
    line-height: 32px;
}
.footer ul li a {
    color: #9eacbd;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}
.footer .row .title-social {
    padding-top: 20px;
}

@media (max-width: 1024px) {
    .inner {
        padding: 0 20px;
    }
    .footer .row {
        text-align: left;
        width: 100%;
    }
    .footer .logo {
        width: 150px;
        margin: 0 auto;
    }
    .footer .copyright {
        padding: 20px 0;
        line-height: 24px;
        text-align: center;
    }
    .footer .copyright p {
        padding: 0;
        display: inline;
    }
    .footer .row .title {
        padding: 20px 0 0 0;
        text-align: left;
    }
    
}
